section.about-me
  .about-me__wrp.DEF_wrapper

    h2.about-me__title#about About me

    .about-me__content
      img(src="assets/img/me-lookingFront--sketch.png")
      p Recifense morando em São Paulo. Desde 2015 no front-end. Estudante de ciência da computação.
      p Iniciei carreira na Hoolyn — startup de turismo compartilhado — como estagiário; depois atuei na&nbsp;
        a(href="http://reatordigital.com.br/" target="_blank") Reator Digital
        |&nbsp;— agência de lançamento de infoprodutos e social media — e na&nbsp;
        a(href='http://www.murilhas.com.br/' target='_blank') Murilhas Comunicação
        |&nbsp; - agência de publicidade.
      p Atualmente, trabalho na&nbsp;
        a(href="https://www.accenture.com/" target="_blank") Accenture
        |&nbsp;em São Paulo desenvolvendo produtos com o framework Angular.

    ul.about-me__icons
      li.about-me__icons__item
        a.about-me__icons__item__link(href='https://twitter.com/ricardogouveia3' target='_blank')
          img.about-me__icons__item__link__img(src='assets/img/icons/twitter.png')
      li.about-me__icons__item
        a.about-me__icons__item__link(href='https://github.com/ricardogouveia3' target='_blank')
          img.about-me__icons__item__link__img(src='assets/img/icons/github.png')
      li.about-me__icons__item
        a.about-me__icons__item__link(href='https://www.linkedin.com/in/ricardogouveia3' target='_blank')
          img.about-me__icons__item__link__img(src='assets/img/icons/linkedin.png')
      li.about-me__icons__item
        a.about-me__icons__item__link(href='https://dribbble.com/ricardogouveia3' target='_blank')
          img.about-me__icons__item__link__img(src='assets/img/icons/dribbble.png')
