section.contact#contact
  div.DEF_wrapper.contact__wrp
    h2.contact__title Contact
    form.contact__form(action="https://formspree.io/contato@rcrd.me" method="POST")
      div.contact__form__field-wrp
        div.contact__form__field-wrp-in
          label.contact__form__label#formInputNameLabel(for="formInputName") Seu nome
          input.contact__form__input#formInputName(type="text" name="name", required)

        div.contact__form__field-wrp-in
          label.contact__form__label#formInputEmailLabel(for="formInputEmail") Seu email
          input.contact__form__input#formInputEmail(type="email", name="email", required)

      label.contact__form__label(for="formInputSubject") Assunto
      input.contact__form__input#formInputSubject(type="text", name="subject", required)

      label.contact__form__label(for="formInputMessage") Mensagem
      textarea.contact__form__input.contact__form__textarea#formInputMessage(cols="30", rows="10", name="message", required)

      input#formInputSubmit(type="submit", value="Enviar")
