header.header
  nav.menu
    a#menuLink.menu__link(href="javascript:void(0)")
      img.menu__icon(src="build/assets/img/icons/menu-closed.svg", alt="")
  a.logo__link(href="/")
    img.logo__img(src="build/assets/img/logo.svg", alt="")
