header.header
  div.DEF_wrapper.header__wrp
    nav.header__nav.header__nav--desktop
      ul.header__nav__list
        li.header__nav__list__item
          a.header__nav__list__item__link#menuAbout(href="#about", data-scroll) About
        li.header__nav__list__item
          a.header__nav__list__item__link#menuPortfolio(href="#portfolio", data-scroll) Portfolio
        li.header__nav__list__item
          a(href="/")
            img.header__nav__list__item__logo(src="assets/img/logo.svg")
        li.header__nav__list__item
          a.header__nav__list__item__link#menuPosts(href="#posts", data-scroll) Posts
        li.header__nav__list__item
          a.header__nav__list__item__link#menuContact(href="#contact", data-scroll) Contact

    nav.header__nav.header__nav--mobile
      ul.header__nav__list
        li.header__nav__list__item
          a(href="/")
            img.header__nav__list__item__logo(src="assets/img/logo.svg")
        li.header__nav__list__item
          a.header__nav__list__item__link#menuAbout(href="#about", data-scroll) About
        li.header__nav__list__item
          a.header__nav__list__item__link#menuPortfolio(href="#portfolio", data-scroll) Projects
        li.header__nav__list__item
          a.header__nav__list__item__link#menuPosts(href="#posts", data-scroll) Posts
        li.header__nav__list__item
          a.header__nav__list__item__link#menuContact(href="#contact", data-scroll) Contact

    hr.header__line
