header.header
  div.DEF_wrapper.header__wrp
    nav.header__nav
      ul.header__nav__list
        li.header__nav__list__item
          a.header__nav__list__item__link(href="") About
        li.header__nav__list__item
          a.header__nav__list__item__link(href="") Projects
        li.header__nav__list__item
          img.header__nav__list__item__logo(src="assets/img/logo.svg")
        li.header__nav__list__item
          a.header__nav__list__item__link(href="") Posts
        li.header__nav__list__item
          a.header__nav__list__item__link(href="") Contact

    hr.header__line
