section.hero
  .hero__wpr.DEF_wrapper

    .hero__title
      h1.hero__title__mega-title Ricardo
      .hero__title__subtitle
        h3.hero__title__subtitle__text.hero__title__subtitle__text--left Front-end dev —
        h3.hero__title__subtitle__text.hero__title__subtitle__text--right — UI designer

    .hero__image
      img.hero__image__img(src="assets/img/me-lookingLeft-bw--sketch.png")
