section.portfolio#portfolio
  .portfolio__wpr.DEF_wrapper
    h2.portfolio__title Portfolio

    ul.portfolio__card-grid#portfolioCardGrid

    a.portfolio__see-all(href="https://portfolio.rcrd.me")
      span.portfolio__see-all__text Veja o portfolio completo
      img.portfolio__see-all__img(src="assets/img/icons/arrow_right--portfolio.png", alt="")
