section.posts
  a.posts__link(href="https://medium.com/@ricardogouveia3" target="_blank")

    span.posts__link__text Leia meus posts no Medium
    img.posts__link__icon(src="assets/img/icons/arrow_right--posts.png")
