#menuInner.menu__inner-container
  ul.menu__list
    li.menu__list__item
      a#menuListItemHome.menu__list__item(href="javascript:void(0)") Home
    li.menu__list__item
      a#menuListItemAboutMe.menu__list__item(href="javascript:void(0)") About me
    li.menu__list__item
      a#menuListItemPosts.menu__list__item(href="javascript:void(0)") Posts
    li.menu__list__item
      a#menuListItemContact.menu__list__item(href="javascript:void(0)") Contact
