doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='Site de um desenvolvedor front-end jr e UI designer que abre o Sketch só pra se distrair')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Ricardo Gouveia - Desenvolvedor front-end &amp; UI designer

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

    include _includes/twitter-card.pug

    include _includes/opengraph.pug

    //- Google Site Verification
    //- ===================================
    meta(name="google-site-verification" content="bu8jWg3PkRWa2GeQxmi3S089gNfySWQd16gy5Rde8M8")

  body
    //- Logo Section
    //- ===================================
    div.logo
      a.logo__link(href='http://rcrd.me')
        img.logo__link__icon(src='assets/img/logo.svg', alt='Logotipo do site: quadrado com letras R, C, R, e D')


    //- Menu
    //- ===================================
    nav.menu.menu_display-none#menu
      ul.menu__list
        li.menu__list__item.menu__list__item_about
          a.menu__list__item__link.menu__list__item__link_active#menuAbout(href='javascript:void(0)', onClick='closePortfolio()')
            | Sobre
        li.menu__list__item.menu__list__item_portfolio
          a.menu__list__item__link#menuPortfolio(href='javascript:void(0)', onClick='openPortfolio()')
            | Portfolio
        li.menu__list__item
          a.menu__list__item__link(href='https://medium.com/@ricardogouveia3', target='_blank')
            | Posts &nbsp;
            include _includes/svg/svg-external-link.pug

        li.menu__list__item
          a.menu__list__item__link(href='mailto:contato@rcrd.me')
            | Contato &nbsp;
            include _includes/svg/svg-mail.pug


    img.dropdown-buttom-icon#menuButton(src='assets/img/menu-indicator.svg', onClick='dropdownOpen()', alt='Link para o menu')

    div.close-dropdown#closeMenu(onClick='dropdownClose()')


    //- Big text (name and role)
    //- ===================================
    div.main-text
      span.main-text__name
        | Ricardo Gouveia
      h1.main-text__role
        | Front end Jr. Dev &amp; UI/UX Designer


      //- Description text (paragraphs)
      //- ===================================
      div.main-text__description
        p.main-text__description__paragraph Sou natural de Recife-PE e moro em Santarém - PA. Tenho&nbsp;
          span#years-old
            | XX
          | &nbsp;anos e desde 2014 estou na área de front-end. Também sou estudante de ciência da computação e tenho interesse por presentation design.
        p.main-text__description__paragraph Anteriormente, trabalhei na&nbsp;
          a.main-text__description__paragraph__link(href='http://www.hoolyn.com.br/', target='_blank')
            | Hoolyn
          |, startup de turismo compartilhado, e&nbsp;
          a.main-text__description__paragraph__link(href='http://reatordigital.com.br/', target='_blank')
            | Reator Digital
          |, uma agência de infoprodutos.
        p.main-text__description__paragraph No meu tempo livre, em geral estou pesquisando sobre arquitetura, aviação, fotografia, liberalismo, ou apenas jogando minecraft.


      //- Social icon links
      //- ===================================
      div.main-text__social
        a.main-text__social__link(href='https://twitter.com/ricardogouveia3', target='_blank')
          include _includes/svg/svg-twitter.pug

        a.main-text__social__link(href='https://github.com/ricardogouveia3', target='_blank')
          include _includes/svg/svg-github.pug

        a.main-text__social__link(href='https://www.linkedin.com/in/ricardogouveia3', target='_blank')
          include _includes/svg/svg-linkedin.pug

    //- Portfolio modal
    //- ===================================
    div.portfolio#portfolioModal

      include _includes/projects/project-devinsanta.pug

      include _includes/projects/project-espaco-ki.pug

      include _includes/projects/project-lent-a-cal.pug

      - for (var i = 0; i < 3; i++) //- Used to generate 'soon' projects. Always check < conditional value when adding something new
        include _includes/projects/project-soon.pug

    //- Photo section
    //- ===================================
    div.photo
      div.photo__background

    //- JS scripts
    //- ===================================
    script(async, src='assets/js/index.min.js')

//- Stylesheet and fonts
//- ===================================
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
link(rel='stylesheet', href='assets/css/style.css')
