doctype html
html(lang='pt-br')
  head
    title Ricardo Gouveia - Desenvolvedor front-end &amp; UI designer
    meta(name='description', content='Site de um desenvolvedor front-end jr e UI designer que abre o Sketch só pra se distrair.')
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='css/normalize.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='https://use.fontawesome.com/b7da4b8514.js')

    link(rel='stylesheet' type='text/css' href='css/style.css')
    link(rel='icon' type='image/ico' href='img/favicon.ico')

    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')

    include includes/meta_social.pug

  body
    div.logo
      a.logo-link(href="http://rcrd.me")
        img.logo-icon(src="img/logo.png")

    div.menu-container
      nav.menu
        ul.menu-list
          li.menu-list-item.sobre
            a.menu-link.active(href="#")
              | Sobre
          li.menu-list-item.portfolio
            a.menu-link(href="#")
              | Portfolio
          li.menu-list-item
            a.menu-link(href="https://medium.com/@ricardogouveia3" target="_blank")
              | Blog &nbsp;
              i.fa.fa-external-link(aria-hidden="true")
          li.menu-list-item
            a.menu-link(href="mailto:contato@rcrd.me")
              | Contato &nbsp;
              i.fa.fa-envelope-o(aria-hidden="true")

    div.main-text
      span.name
        | Ricardo Gouveia
      h1.title
        | Front end Jr. Dev &amp; UI/UX Designer
      div.description-container
        span.description
          p Sou natural de Recife-PE e moro em Santarém - PA. Tenho 22 anos e desde 2014 estou na área de front-end. Também sou estudante de ciência da computação e tenho interesse por presentation design.
          p Anteriormente, trabalhei na&nbsp;
            a(href="http://www.hoolyn.com.br/" target="_blank")
              | Hoolyn
            |, startup de turismo compartilhado, e&nbsp;
            a(href="http://reatordigital.com.br/" target="_blank")
              | Reator Digital
            |, uma agência de infoprodutos.
          p No meu tempo livre, em geral estou pesquisando sobre fotografia, aviação, arquitetura ou apenas jogando minecraft.
      div.social
        a.social-link(href="https://twitter.com/ricardogouveia3" target="_blank")
          i.fa.fa-twitter(aria-hidden="true")
        a.social-link(href="https://github.com/ricardogouveia3" target="_blank")
          i.fa.fa-github-alt(aria-hidden="true")
        a.social-link(href="https://www.linkedin.com/in/ricardogouveia3" target="_blank")
          i.fa.fa-linkedin(aria-hidden="true")

    div.photo-container
      div.photo

  script(src="js/index.js" type="text/javascript")

