a.portfolio__link(href='http://ugelstm.github.io', target='_blank')
  div.portfolio__link__job.portfolio__link__job_third
    div.portfolio__link__job__text
      h3.portfolio__link__job__text__title
        | UGEL - União Geral de Estudantes Livres
      span.portfolio__link__job__text__service
        | UI/UX &amp; Front end
    div.portfolio__link__job__background
