a.portfolio__link(href='http://rcrd.me/lent-a-cal', target='_blank')
  div.portfolio__link__job.portfolio__link__job_second
    div.portfolio__link__job__text
      h3.portfolio__link__job__text__title
        | Cineza - Lent a Cal
      span.portfolio__link__job__text__service
        | Projeto de aprendizado
    div.portfolio__link__job__background