a.portfolio__link(href='javascript:void(0)', target='_blank', rel='noopener')
  div.portfolio__link__job
    div.portfolio__link__job__text
      h3.portfolio__link__job__text__title
        | Em breve
      span.portfolio__link__job__text__service
        | Projeto em desenvolvimento
    div.portfolio__link__job__background