//- OpenGraph
//- ===================================
meta(property="og:image" content="https://ricardogouveia3.github.io/assets/img/opengraph.jpg")
meta(property="og:title" content="Ricardo Gouveia - Desenvolvedor front-end & UI designer")
meta(property="og:url" content="https://ricardogouveia3.github.io/")
meta(property="og:type" content="website")
meta(property="og:site_name" content="rcrd.me")
meta(property="og:description" content="Site de um desenvolvedor front-end jr e UI designer que abre o Sketch sรณ pra se distrair.")