*,
*::after,
*::before,
html {
  // sass-lint:disable-block no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.DEF_wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
