// 1. Colors
$white: #fff;
$black: #000;

$armadillo: #4A4A4A;
$caribbean-green: #11D3B6;

// 2. Typography
$default: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Open Sans', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, sbuntu, cantarell, sans-serif;
$classic: 'Playfair Display', serif;

* { font-family: $default; }
