*, :after, :before, html
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html
  font-size: 16px

body
  width: 100vw
  height: 100%
  min-height: 100vh
  overflow-x: hidden
  overflow-y: auto
  max-width: 100%
  background-color: #ffffff
  position: relative
  display: flex
  @media (max-width: 350px)
    padding-bottom: 1em

.logo
  position: absolute
  top: 0
  left: 0
  width: 30%
  height: 60vh
  background-color: #4A4A4A
  -webkit-clip-path: polygon(100% 0%, 0 0, 0 100%)
  clip-path: polygon(100% 0%, 0 0, 0 100%)

  @media (max-width: 1000px)
    width: 30%
    height: 30vh
    min-height: 220px
  @media (max-width: 580px)
    width: 40%
    height: 25%
    min-height: 100px
  @media (max-width: 500px)
    width: 50%
    height: 20%

  .logo-link
    display: block
    margin: 3em 0 0 3em
    @media (max-width: 1000px)
      margin: 2em 0 0 2em
    @media (max-width: 500px)
      margin: 1.3em 0 0 1.3em

  .logo-icon
    width: 6em
    @media (max-width: 1000px)
      width: 4em
    @media (max-width: 580px)
      width: 3.3em

.menu-container
  position: absolute
  bottom: 0
  left: 0
  margin: 0 0 3em 3em
  z-index: 12

  @media (max-width: 1000px)
    margin: 0 0 2em 2em
  @media (max-width: 600px)
    display: none // Insert dropdown from here

  .menu-list
    list-style-type: none
    margin: 0
    padding: 0

  .menu-list-item
    margin-top: 1em
    display: block

  .menu-link
    text-decoration: none
    font-weight: bold
    font-family: "Poppins", sans-serif
    color: #4A4A4A
    transition: color .3s ease-in-out

    .fa
      opacity: .5
      font-size: .8em
    &:hover
      color: #4ECDC4
      @media (max-width: 580px)
        color: #307671

    &.active:hover
      color: #4A4A4A

  .active::after
    content: " "
    position: absolute
    left: 0
    top: 18%
    background: #4ECDC4
    height: 3px

  // Handling ::after size in a bad way. Remove ASAP
  .sobre
    .active::after
      width: 49px
  .portfolio
    .active::after
      width: 71px

.main-text
  align-self: center
  margin: 0 auto
  max-width: 60%
  padding-left: 50px
  z-index: 10
  font-family: "Poppins", sans-serif
  color: #4A4A4A

  @media (max-width: 1000px)
    margin-top: 6em
    margin-bottom: 2em
  @media (max-width: 750px)
    max-width: 75%
  @media (max-width: 580px)
    margin-top: 7em
  @media (max-width: 500px)
    max-width: 90%
    margin-top: 8em

  .name
    display: block
    font-weight: 500
    font-size: 1.3em
    padding-left: 5px
    @media (max-width: 750px)
      font-size: 1em

  .title
    font-size: 5em
    margin: 0

    @media (max-width: 1300px)
      font-size: 3em
    @media (max-width: 750px)
      font-size: 2.3em
    @media (max-width: 500px)
      font-size: 1.5em
      padding-left: 5px

  .description::before
    content: " "
    display: block
    position: absolute
    margin: 12px 0 0 5px
    width: 40px
    background: #4ECDC4
    height: 5px

    @media (max-width: 500px)
      display: none

  .description p
    font-size: 1.1em
    letter-spacing: .5px
    line-height: 32px
    margin-bottom: 25px
    padding-left: 60px

    @media (max-width: 1200px)
      line-height: 25px
    @media (max-width: 750px)
      font-size: 1em
      margin-bottom: 0px
    @media (max-width: 580px)
      text-align: justify
    @media (max-width: 500px)
      padding-left: 6px

    a
      color: #4A4A4A
      text-decoration: underline
      transition: color .3s ease-in-out
      &:hover
        color: #307671

  .social
    margin-left: 60px

    @media (max-width: 750px)
      margin: 1em 0
      margin-left: 60px

    @media (max-width: 500px)
      margin-left: 0

    .social-link
      text-decoration: none
      color: #4A4A4A
      font-size: 2em
      margin-right: 1em
      transition: color .3s ease-in-out
      &:hover
        color: #307671
      @media (max-width: 580px)
        font-size: 1.5em

.photo-container
  width: 60%
  height: 100%
  min-height: 100vh
  position: absolute
  top: 0
  right: 0
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%)
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 10% 100%)
  overflow: hidden
  .photo
    width: 100%
    height: 100%
    background: linear-gradient(rgba(78,205,196,.82), rgba(78,205,196,.82)), url("../img/bg.jpg") no-repeat 70px
    background-size: cover
    transition: all .5s
    @media (max-width: 1200px)
      background-position: center left -100px
    @media (max-width: 750px)
      background-position: center left -150px
    @media (max-width: 500px)
      background-position: center left -250px
    @media (max-width: 400px)
      background-position: center left -350px
    // iPad, iPadPro, n' others w/ big height screen size
    @media (min-height: 1000px)
      background-position: center left -350px
      @media (min-width: 1000px)
        background-position: center left -450px
      @media (min-width: 1300px)
        background-position: center left -200px

  @media (max-width: 1000px)
    width: 75%
  @media (max-width: 580px)
    width: 90%

  &:hover .photo,
  &:focus .photo
    transform: scale(1.2)
