doctype html

include includes/head.pug

body.no-js

  .main-content
    include includes/header.pug
    include includes/hero.pug
    include includes/about-me.pug
    include includes/portfolio.pug
    include includes/posts.pug
    include includes/contact.pug
    include includes/footer.pug


  //- Scripts
  //- ===================================
  script(src='build/js/index.min.js')
  include includes/structured_data.html

//- Stylesheet and fonts
//- ===================================
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Playfair+Display:400,700')
link(rel='stylesheet', href='assets/css/style.min.css')
