.photo
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 10% 100%)
  height: 100%
  min-height: 100vh
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  width: 60%

  @media (max-width: 1000px)
    width: 75%

  @media (max-width: 580px)
    width: 90%


.photo__background
  background: linear-gradient($photo-filter-color, $photo-filter-color), url('../img/bg.jpg') no-repeat 70px
  background-size: cover
  height: 100%
  transition: transform .5s
  width: 100%

  &:hover,
  &:focus
    transform: scale(1.2)

  @media (max-width: 1200px)
    background-position: center left -100px

  @media (max-width: 750px)
    background-position: center left -150px

  @media (max-width: 500px)
    background-position: center left -250px

  @media (max-width: 400px)
    background-position: center left -350px

  //
  // iPad, iPadPro, n others w big height screen size
  //
  @media (min-height: 1000px)
    background-position: center left -350px

    @media (min-width: 1000px)
      background-position: center left -450px

    @media (min-width: 1300px)
      background-position: center left -200px
