.portfolio
  align-self: center
  background-color: $white
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2)
  display: none
  grid-gap: 1em
  grid-template-areas: "first second third" "fourth fifth sixth"
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr
  height: 69.6%
  overflow-y: hidden
  padding: 3em
  position: absolute
  right: 0
  transform: translate(120%)
  transition: transform .5s ease-in-out
  width: 85%
  z-index: 20

  @media (max-width: 1000px)
    grid-gap: 1em
    grid-template-areas: "first second" "third fourth" "fifth sixth"
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr
    height: 80%
    padding: 2em

  @media (max-width: 600px)
    bottom: 0
    grid-gap: 1em
    grid-template-areas: "first" "second" "third" "fourth" "fifth" "sixth"
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
    height: 75%
    overflow-y: auto
    padding: 1.3em
    transform: translate(0, -200%)
    width: 100vw


.portfolio__link__job
  height: 100%
  overflow: hidden
  position: relative
  width: 100%
  &:hover
    .portfolio__link__job__background
      transform: scale(1.3)


.portfolio__link__job__background
  height: 100%
  transition: all .5s ease-in-out
  width: 100%

//
// Mixin handling many backgrounds
//
=portfolio-job($url)
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url($url) no-repeat center
  background-size: cover


.portfolio__link__job_first
  grid-area: first
  .portfolio__link__job__background
    +portfolio-job("../img/portfolio/devinsanta.jpg")

.portfolio__link__job_second
  grid-area: second
  .portfolio__link__job__background
    +portfolio-job("../img/portfolio/lent-a-cal.jpg")

.portfolio__link__job_third
  grid-area: third
  .portfolio__link__job__background
    +portfolio-job("../img/portfolio/soon.jpg")

.portfolio__link__job_fourth
  grid-area: fourth
  .portfolio__link__job__background
    +portfolio-job("../img/portfolio/soon.jpg")

.portfolio__link__job_fifth
  grid-area: fifth
  .portfolio__link__job__background
    +portfolio-job("../img/portfolio/soon.jpg")

.portfolio__link__job_sixth
  grid-area: sixth
  .portfolio__link__job__background
    +portfolio-job("../img/portfolio/soon.jpg")


.portfolio__link__job__text
  bottom: 0
  color: $white
  left: 0
  margin: 0 0 1em 1em
  position: absolute
  z-index: 2

.portfolio__link__job__text__title
  font-size: 1.5em
  margin: 0 0 10px 0

.portfolio__link__job__text__service
  font-size: 1em
