// 1. Colors

$white: #ffffff
$medium-turquoise: #4ecdc4
$genoa: #307671
$armadillo: #4a4a4a
$black: #000000


// 2. Typography

$poppins: "Poppins", "Helvetica Neue", "Helvetica", "Arial", sans-serif
