*,
*::after,
*::before,
html
  // sass-lint:disable-block no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  text-rendering: optimizeLegibility

html
  font-size: 18px
  font-family: $default

body
  align-items: center
  background-color: #307671
  display: flex
  height: 100vh
  justify-content: center
  max-height: 100%
  max-width: 100%
  overflow: hidden
  position: relative
  width: 100vw

a
  text-decoration: none
