// 1. Colors
$white: #fff
$black: #000

// 2. Typography
$default: 'Poppins', 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif
