meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:creator" content="@ricardogouveia3")
meta(name="twitter:domain" content="ricardogouveia3.github.io")
meta(name="twitter:title" content="Ricardo Gouveia - Desenvolvedor front-end & UI designer")
meta(name="twitter:description" content="Site de um desenvolvedor front-end jr e UI designer que abre o Sketch só pra se distrair.")

meta(property="og:image" content="https://ricardogouveia3.github.io/img/card-opengraph.jpg")

meta(property="og:title" content="Ricardo Gouveia - Desenvolvedor front-end & UI designer")
meta(property="og:url" content="https://ricardogouveia3.github.io/")
meta(property="og:type" content="website")
meta(property="og:site_name" content="rcrd.me")
meta(property="og:description" content="Site de um desenvolvedor front-end jr e UI designer que abre o Sketch só pra se distrair.")
