@import 'tailwindcss';
@import 'barro-ui/css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-quartz-50: #070707;
  --color-quartz-100: #0f0f0f;
  --color-quartz-200: #1e1e1e;
  --color-quartz-300: #2c2c2c;
  --color-quartz-400: #3b3b3b;
  --color-quartz-500: #4a4a4a;
  --color-quartz-600: #6e6e6e;
  --color-quartz-700: #929292;
  --color-quartz-800: #b7b7b7;
  --color-quartz-900: #dbdbdb;
  --color-quartz-950: #ededed;

  --background-image-noise-dark: url('./assets/noise-dark.webp');
  --background-image-noise-light: url('./assets/noise-light.webp');

  --cursor-custom-pointer: url('./assets/cursors/hand.cur'), pointer;
  --cursor-custom-normal: url('./assets/cursors/arrow.cur'), default;
  --cursor-custom-not-allowed: url('./assets/cursors/no.cur'), not-allowed;
}

@layer base {
  * {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  .cursor-custom-pointer {
    cursor: var(--cursor-custom-pointer);
  }

  .cursor-custom-normal {
    cursor: var(--cursor-custom-normal);
  }

  .cursor-custom-not-allowed {
    cursor: var(--cursor-custom-not-allowed);
  }
}

@utility default-text-color {
  @apply text-white;
}

@utility smooth-text-color {
  @apply text-quartz-600;
}

@utility default-border {
  @apply border-quartz-400 border;
}

@utility default-background {
  @apply bg-quartz-200;
}

@utility smooth-noisy-background {
  @apply bg-quartz-200 bg-noise-dark h-full w-full bg-repeat;
}

@utility above-noise-content-background {
  @apply bg-quartz-200/70 h-full w-full;
}

@utility hover-background {
  @apply hover:bg-quartz-200 transition-colors;
}
